<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @rule.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @rule.details %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
